*.retry
*.0

build/bootstrap/matchbox/assets/fedora-coreos/*
!build/bootstrap/matchbox/assets/fedora-coreos/.keep
# infra
*.key
*.pfx
*.pem
pxe/
*.d.ts
*.js
node_modules
cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
tsconfig.tsbuildinfo
!jest.config.js
!setup.js

**/*.tf
