# Misc
*.retry
*.0

# binaries/scripts
scripts/bin/terraform

# OS images
build/bootstrap/matchbox/assets/fedora-coreos/*
!build/bootstrap/matchbox/assets/fedora-coreos/.keep

# infra (cdktf, PXE blobs, PKI, etc.)
*.crt
*.key
*.pfx
*.pem
*.csr
pki/index.*
pki/serial
pxe/
*.d.ts
*.js
node_modules
cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
tsconfig.tsbuildinfo
!jest.config.js
!setup.js
**/*.tf
