# Misc
*.retry
*.0
attic/

# binaries/scripts
scripts/bin

build/bootstrap/tftp/*
build/bootstrap/matchbox/ignition/*
build/bootstrap/matchbox/profiles/*
build/bootstrap/matchbox/groups/*
build/bootstrap/matchbox/assets/fedora-coreos/*
!build/bootstrap/matchbox/assets/fedora-coreos/.keep

# infra (cdktf, PXE blobs, PKI, etc.)
*.ipxe
*.img
*.crt
*.key
*.pfx
*.pem
*.csr
pki/index.*
pki/serial*
pxe/
*.d.ts
*.js
node_modules
cdktf.out
cdktf.log
**/*.tfstate
**/*.backup
**/*.hcl
.gen
.terraform
tsconfig.tsbuildinfo
!jest.config.js
!setup.js
**/kube.conf
**/kube.conf*
