# istio
apiVersion: v1
kind: Secret
metadata:
  name: istio-helm
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: istio.io
  url: https://istio-release.storage.googleapis.com/charts
  type: helm
---
# hashicorp
apiVersion: v1
kind: Secret
metadata:
  name: hashicorp-helm
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: hashicorp.com
  url: https://helm.releases.hashicorp.com
  type: helm
---
# OpenEBS
apiVersion: v1
kind: Secret
metadata:
  name: openebs-helm
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: openebs.io
  url: https://openebs.github.io/charts
  type: helm
---
# OpenEBS-nfs (Beta)
apiVersion: v1
kind: Secret
metadata:
  name: openebs-nfs-helm
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: openebs.io/nfs
  url: https://openebs.github.io/dynamic-nfs-provisioner
  type: helm
---
# Grafana OSS
apiVersion: v1
kind: Secret
metadata:
  name: grafana-helm
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: grafana
  url: https://grafana.github.io/helm-charts
  type: helm
---
# Velero / VMWare
apiVersion: v1
kind: Secret
metadata:
  name: vmware-helm
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: vmware
  url: https://vmware-tanzu.github.io/helm-charts
  type: helm
---
# HomeAssistant chart (3rd party)
apiVersion: v1
kind: Secret
metadata:
  name: homeassistant-helm
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: hass
  url: https://github.com/pajikos/home-assistant-helm-chart.git
  type: helm