apiVersion: v1
kind: Secret
metadata:
  name: gluetun-config
  namespace: media
type: Opaque
stringData:
  config.toml: |
    [[roles]]
    name = "qbittorrent"
    routes = ["GET /v1/portforward"]
    auth = "basic"
    username = "qbt"
    password = "REDACTED"